<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.board.mybatis.board.BoardMapper">
	<select id="boardList" resultMap="boardAllList">
		select B.* from(select rownum rn, A.* from
		(select * from talk_board order by write_num desc)A)B where rn between #{s}
		and #{e}
	</select>
	<resultMap type="com.care.board.board.dto.boardDTO"
		id="boardAllList">
		<id property="writeNum" column="write_num" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="regDate" column="regDate" />
		<result property="hitNum" column="hit" />
		<result property="imgFile" column="img_file" />
		<result property="writer" column="writer" />
	</resultMap>

	<!-- 글쓰기 추가 -->
	<insert id="writeSave">
		insert into
		talk_board(write_num,title,writer,content,img_file)
		values(talk_board_seq.nextval,#{title},#{writer},
		#{content},#{imgFile} )
	</insert>

	<!-- 특정게시글 조회하기 -->
	<select id="writeView" resultMap="boardAllList">
		select * from talk_board where
		write_num = #{writeNum}
	</select>

	<!-- 조회수 증가 -->
	<update id="upHit">
		update talk_board set hit=hit+1 where write_num =
		#{writeNum}
	</update>

	<!-- 게시글 삭제하기 -->
	<delete id="delete">
		delete from talk_board where write_num = #{writeNum}
	</delete>

	<!-- 이미지 변경 없을때 수정하기 -->
	<update id="modify">
		update talk_board set title=#{title},
		content=#{content},
		img_file=#{imgFile} where write_num=#{writeNum}
	</update>

	<!-- 댓글달기 -->
	<insert id="addReply">
		insert into
		talk_board_reply(replyer,title,reply_content,reply_group)
		values(#{replyer},#{title},#{replyContent},#{replyGroup})
	</insert>

	<resultMap id="replyGet"
		type="com.care.board.board.dto.boardReplyDTO">
		<result property="replyer" column="replyer" />
		<result property="title" column="title" />
		<result property="replyContent" column="reply_content" />
		<result property="replyGroup" column="reply_group" />
		<result property="replyDate" column="reply_date" />
	</resultMap>

	<!-- 댓글 가져오기 -->
	<select id="getReplyList" resultMap="replyGet">
		select * from
		talk_board_reply where reply_group=#{replyGroup} order by reply_date
		desc
	</select>

	<!-- 페이징 -->
	<select id="selectBoardCount" resultType="Integer">
		select count(*) from
		talk_board
	</select>
</mapper>