<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.root.mybatis.member.memberMapper">
	<select id="userCheck" resultMap="member">
		select * from box_member where buser_id=#{id}  <!-- 해당하는 아이디와 같은 결과값을 가져온다 -->
	</select>
	<resultMap id="member"
		type="com.care.root.member.dto.memberDTO">
		<id property="id" column="buser_id" />
		<result property="pwd" column="buser_pwd" />
		<result property="name" column="buser_name" />
		<result property="phone" column="buser_phone" />
		<result property="email" column="buser_email" />
		<result property="sessionId" column="session_id" />
		<result property="limitTime" column="limit_time" />
	</resultMap>

	<!-- 로그인유지 -->
	<update id="keepLogin">  <!-- 사용자가 들어온 값이니 기존의 값에서 업데이트 하기 -->
		update box_member set session_id=#{sessionId}, limit_time=#{limitDate}
		where buser_id=#{id}
	</update>

	<!-- 결과값 가져오기위해 select이용. resultMap은 리턴값 어떻게 저장할건지 처리 -->
	<select id="getUserSessionId" resultMap="member">
		select * from box_member
		where session_id = #{sessionId}
	</select>

	<!-- 회원가입 -->
	<insert id="register">
		insert into
		box_member(buser_id,buser_pwd,buser_name,buser_phone,buser_email)
		values(#{id}, #{pwd}, #{name},#{phone},#{email})
	</insert>

	<!-- 아이디 중복체크 -->
	<select id="idCheck" parameterType="String" resultType="Integer">
		select
		count(*) from box_member where buser_id = #{userId}
	</select>

	<!-- 회원개인정보 -->
	<select id="info" resultMap="member">
		select * from box_member where
		buser_id = #{id}
	</select>


	<!-- 관리자 회원정보목록 -->
	<select id="memberInfoList" resultMap="member">
		<!-- select buser_id AS id, buser_pwd AS pwd, buser_name AS name ,buser_phone 
			AS phone,buser_email AS email from box_member where buser_id = #{id} -->
		select B.* from(select rownum rn, A.* from
		(select * from box_member order by buser_id desc)A)B where rn between #{s} and
		#{e}

	</select>

	<select id="selectMemberCount" resultType="Integer">
		select count(*) from
		box_member
	</select>
	
	<!-- 회원정보 삭제하기 -->
	<delete id="detailInfoDel">
		delete from box_member where buser_id = #{id}
	</delete>
	
</mapper>