<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.root.mybatis.member.MemberMapper">
 
  <select id="userCheck" resultMap="member"> <!-- 리턴타입을 resultmap으로 member형식에 맞춰 맵핑해라 -->
  	select * from member where id=#{id}   <!-- 해당 id와 같은 결과값(*)을 가져온다 -->
  </select>
  
  <!-- select는 resultmap을 꼭 써야하고, dto와 db 맵핑작업. type:클래스, id:변수명 -->
  <resultMap type="com.care.root.member.dto.memberDTO" id="member">
  	<id property="id" column="id"/>   <!-- 프라이머리키는 id로 지정 -->
  	<result property="pw" column="pw"/> <!-- property:dto변수명, column : db변수명 -->
  	<result property="name" column="name"/>
  	<result property="phone" column="phone"/>
  	<result property="email" column="email"/>
  	<result property="pcode" column="pcode"/>
  	<result property="addr" column="addr"/>
  	<result property="daddr" column="daddr"/>
  	<result property="verify" column="verify"/>
  </resultMap>
  
  <!-- 회원가입 -->
  <insert id="join">
  	insert into member(id,pw,name,phone,email) values(#{id},#{pw},#{name},#{phone},#{email}) <!-- 주소는 주문할때 입력할거라 주소는 뺌 -->
  </insert>
</mapper>