@charset "utf-8";

@import "reset.css";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap')
	;

* {
	font-family: 'Noto Sans KR', sans-serif;
}

.en {
	font-family: 'Epilogue', sans-serif;
	font-weight: bold;
}

body, a {
	color: #3D3B3B;
}

.font-bold {
	font-weight: bold;
}

header {
	width: 100%;
	height: 80px;
	background: #ffffff;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10000;
	box-shadow: 0px 10px 20px -15px rgb(210, 210, 210);
}

.head-wrap {
	width: 80%;
	height: 80px;
	margin: 0 auto;
	position: relative;
	display: flex;
}

h1 {
	display: flex;
	align-items: center;
}

h1 img {
	width: 6.5rem;
}

nav {
	position: absolute;
	right: 0;
	width: 50%;
	text-align: center;
}

nav ul li {
	width: 24.33%;
	height: 80px;
	line-height: 80px;
	float: left;
}

nav ul li a {
	color: #3D3B3B;
	display: block;
}

nav li a:hover {
	color: #3781E3;
	font-weight: bold;
}

.mypage {
	position: relative;
}

.mypage-sub {
	display: none;
}

.mypage-sub li {
	display: block;
	width: 100%;
	height: 60px;
	line-height: 60px;
	margin: 0;
	background: #fafafa;
}

.mypage-sub li a {
	display: block;
}

.mypage:hover ul {
	display: block;
}
/* 이용후기 창 */
main {
	margin-top: 13rem;
	height: 100vh;
}

.page-title {
	margin-bottom: 3rem;
}

.page-title h2 {
	color: #3781E3;
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
}

.container {
	width: 80%;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 5px;
}

.board-table {
	font-size: 0.8rem;
	width: 100%;
	border-bottom: 1px solid #ccc;
}

.board-table thead {
	border-top: 1px solid #3781E3;
}

.board-table>thead th {
	border-bottom: 1px solid #3781E3;
}

.board-table th {
	text-align: center;
}

.board-table th, .board-table td {
	padding: 0.9rem 0;
}

.board-table .th-num {
	width: 7rem;
	text-align: center;
}

.board-table .th-date {
	width: 13rem;
}

.board-table tbody td {
	border-top: 1px solid #e7e7e7;
	text-align: center;
}

.board-table tbody th {
	padding-left: 1.8rem;
	border-top: 1px solid #e7e7e7;
	text-align: left;
	font-weight: normal;
}

.board-table a {
	/*
	color: #3D3B3B;
*/
	color: #3781E3;
	display: inline-block;
	line-height: 1.4;
	word-break: break-all;
	vertical-align: middle;
}

.board-table a:hover {
	text-decoration: underline;
}

#review-btn {
	float: right;
	width: 5rem;
	height: 35px;
	background: #3781E3;
	color: #fafafa;
	font-size: 0.85rem;
	border: none;
	border-radius: 5px;
	margin-top: 2rem;
	cursor: pointer;
}

.paging {
	text-align: center;
	padding-top: 15px;
}

.paging:last-child {
	margin-left: 3rem;
}

.search {
	margin-top: -25px;
	margin-bottom: 10px;
	float: right;
	margin-right: 152px;
}

.type-box {
	margin-left: 10px;
	height: 35px;
	margin-right: 5px;
}

.inputId {
	height: 35px;
	margin-right: 7px;
}

.submitBtn {
	height: 35px;
	width: 50px;
	background-color: white;
	color: #3781E3;
	border-color: #3781E3;
	border-radius: 3px;
	cursor: pointer;
}

/*페이징 버튼 */
.page_nation {
	display: inline-block;
	margin-top: 20px;
}

.page_nation .none {
	display: none;
}

.page_nation a {
	display: block;
	margin: 0 3px;
	float: left;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #999999;
	text-decoration: none;
}

.page_nation a.active {
	background-color: #3781E3;
	width: 28px;
	color: white;
	border-radius: 2px;
}

.page_nation a.active:hover {
	background-color: #c0c0c0;
	color: #3781E3;
}

.page_nation .pprev {
	margin-right: 15px;
	color: #3781E3;
}

.page_nation .prev {
	color: #3781E3;
	margin-right: 15px;
}

.page_nation .next {
	color: #3781E3;
	margin-left: 15px;
}

.page_nation .nnext {
	color: #3781E3;
	margin-left: 15px;
}
/*더보기 버튼*/
.more {
	width: 10%;
	margin: auto;
	margin-top: 40px;
	line-height: 40px;
	color: #3781E3;
	background: ghostwhite;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	border: 1px solid #3781E3;
	border-radius: 4px;
	display: block;
	cursor: pointer;
}

/* footer 부분 */
footer {
	width: 100%;
	height: 40vh;
	background: #494B57;
	margin-top: 13rem;
}

footer div {
	width: 80%;
	height: 40vh;
	margin: 0 auto;
}

footer ul {
	margin-top: 4rem;
}

footer span {
	font-size: 1.5rem;
	color: #AFAFAF;
}

footer li, footer a {
	color: #AFAFAF;
}

.footer-left {
	float: left;
}

.footer-left li {
	font-size: 0.8rem;
}

.footer-left li:nth-child(2) {
	margin-top: 2rem;
}

.footer-left li:not(:nth-child(2)) {
	margin-top: 0.3rem;
}

.footer-right {
	float: right;
}

.footer-right li:first-child {
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 0.3rem;
}

.footer-right li:last-child {
	font-size: 1rem;
}