@charset "utf-8";
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
}
.en {
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
}
body, a {
    color: #3D3B3B;
}
.font-bold {
    font-weight: bold;
}

header {
    width: 100%;
    height: 80px;
    background: #ffffff;
    position: fixed; top: 0; right: 0;
    z-index: 10000;
    box-shadow: 0px 10px 20px -15px rgb(210, 210, 210);
}
.head-wrap {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    position: relative;
    display: flex;
}
h1 {
    display: flex;
    align-items: center;
}
h1 img {
    width: 6.5rem;
}
nav {
    position: absolute; top: 1.5rem;
    right: 0;
    display: flex;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    padding: 0 3rem;
}
nav ul li a {
    color: #3D3B3B;
}
nav li a:hover {
    color: #3781E3;
    font-weight: bold;
}

/* 후기작성 창 */
main {
    margin-top: 13rem;
    height: 100vh;
}
.page-title {
    margin-bottom: 3rem;
}
.page-title h2 {
    color: #3781E3;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.review-space {
    width: 50%;
    margin: 0 auto;
}
input, textarea {
    display: block;
    border: 1px solid #AFAFAF;
    outline: none;
}
input {
    margin-bottom: 1rem;
    height: 40px;
}
#title {
    width: 25rem;
    padding-left: 0.5rem;
}
textarea {
    width: 100%;
    resize: none;
    padding: 0.5rem;
}
#cancel-btn, #regist-btn {
    width: 5rem;
    height: 35px;
    font-size: 0.85rem;
    border: none;
    border-radius: 10px;
    margin-top: 2rem;
    cursor: pointer;
}
#cancel-btn {
    background: #fff;
    color: #3781E3;
    border: 2px solid #3781E3;
}
#regist-btn {
    float: right;
    background: #3781E3;
    color: #fafafa;
}

/* footer 부분 */
footer {
    width: 100%;
    height: 40vh;
    background: #494B57;
    margin-top: 13rem;
}
footer div {
    width: 80%;
    height: 40vh;
    margin: 0 auto;
}
footer ul {
    margin-top: 4rem;
}
footer span {
    font-size: 1.5rem;
    color: #AFAFAF;
}
footer li, footer a {
    color: #AFAFAF;
}
.footer-left {
    float: left;
}
.footer-left li {
    font-size: 0.8rem;
}
.footer-left li:nth-child(2) {
    margin-top: 2rem;
}
.footer-left li:not(:nth-child(2)) {
    margin-top: 0.3rem;
}
.footer-right {
    float: right;
}
.footer-right li:first-child {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
}
.footer-right li:last-child {
    font-size: 1rem;
}