<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.root.mybatis.board.boardMapper">
	<resultMap type="com.care.root.board.dto.boardDTO" id="board">

		<id property="reviewNum" column="list_num" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="regDate" column="regDate" />
		<result property="hitNum" column="hit" />
		<result property="writer" column="writer" />
	</resultMap>

	<select id="boardList" resultMap="board">
		select * from box_board
	</select>

	<!-- 글쓰기 등록 -->
	<insert id="writeSave">
		insert into box_board(list_num,writer,title,content)
		values(box_board_seq.nextval,#{writer},#{title},#{content})
	</insert>

	<!-- 글 상세보기 -->
	<select id="reviewDetail" resultMap="board">
		select * from box_board where list_num = #{reviewNum} <!-- 한명에 대한 정보 -->
	</select>
	
	<!-- 조회수 증가 -->
	<update id="hitNum">
		update box_board set hitNum=hitNum+1 where list_num=#{reviewNum}
	</update>
</mapper>