<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.root.mybatis.board.boardMapper">
	<resultMap type="com.care.root.board.dto.boardDTO" id="board">

		<id property="reviewNum" column="list_num" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="regDate" column="regDate" />
		<result property="hitNum" column="hit" />
		<result property="writer" column="writer" />
		<result property="type" column="type" />
		<result property="keyword" column="keyword" />
	</resultMap>

	<!-- 페이징처리로 코드 변경 -->
	<select id="boardList" resultMap="board">
		select B.* from(select rownum
		rn, A.* from
		(select * from box_board order by list_num desc)A)B where
		rn between #{s} and #{e}
	</select>

	<!-- 글쓰기 등록 -->
	<insert id="writeSave">
		insert into box_board(list_num,writer,title,content)
		values(box_board_seq.nextval,#{writer},#{title},#{content})
	</insert>

	<!-- 글 상세보기 -->
	<select id="reviewDetail" resultMap="board">
		select * from box_board where list_num = #{reviewNum} <!-- 한명에 대한 정보 -->
	</select>

	<!-- 조회수 증가 -->
	<update id="hitNum">
		update box_board set hit=hit+1 where
		list_num =
		#{reviewNum}
	</update>
	<!-- 삭제하기 -->
	<delete id="delete">
		delete from box_board where list_num = #{reviewNum}
	</delete>

	<!-- 페이징 -->
	<select id="selectPageCount" resultType="Integer">
		select count(*) from
		box_board
	</select>

	<!-- 수정하기 -->
	<update id="modify">
		update box_board set title=#{title},
		content=#{content}
		where list_num=#{reviewNum}
	</update>


	<select id="prevNext" resultMap="board" resultType="Integer">
		select * from
		(select list_num, title,
		LAG(list_num, 1,0) OVER(ORDER BY list_num )
		prevNum,
		LAG(title, 1, '이전글이 없습니다') OVER(ORDER BY list_num ) prevTitle,

		lead(list_num,1,0) over (order by list_num )nextNum,
		lead(title,1,'다음글이 없습니다') over (order by list_num ) nextTitle
		from
		box_board )where list_num=#{reviewNum} order by list_num
	</select>
	<!-- 공지사항 -->
	<resultMap type="com.care.root.board.dto.noticeDTO"
		id="notice">
		<id property="noticeNum" column="notice_num" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="saveDate" column="save_date" />
		<result property="writer" column="writer" />
	</resultMap>

	<!-- 공지사항 목록 -->
	<select id="noticeList" resultMap="notice">
		select * from box_notice order
		by notice_num desc
	</select>

	<!-- 글쓰기 등록 -->
	<insert id="noticeSave">
		insert into
		box_notice(notice_num,writer,title,content)
		values(box_notice_seq.nextval,#{writer},#{title},#{content})
	</insert>

	<!-- 상세보기 -->
	<select id="noticeDetail" resultMap="notice">
		select * from box_notice where notice_num = #{noticeNum} <!-- 관리자 정보 -->
	</select>

	<!-- 수정하기 -->
	<update id="modifySave">
		update box_notice set title=#{title},
		content=#{content}
		where notice_num=#{noticeNum}
	</update>

	<!-- 삭제하기 -->
	<delete id="noticeDelete">
		delete from box_notice where notice_num =
		#{noticeNum}
	</delete>

	<!-- 검색하기 -->
	<select id="selectSearch" resultMap="board">
		select B.* from(select
		rownum rn,
		A.* from
		(select * from box_board where
		${type} like
		'%'||#{keyword}||'%'
		order by list_num desc)A)B where rn
		between #{s}
		and
		#{e}
	</select>

	<select id="selectSearchCount" resultType="Integer">
		select count(*) from
		box_board where ${type} like '%'||#{keyword}||'%'
	</select>
</mapper>