<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.root.mybatis.board.boardMapper">
	<resultMap type="com.care.root.board.dto.boardDTO" id="board">

		<id property="reviewNum" column="list_num" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="regDate" column="regDate" />
		<result property="hitNum" column="hit" />
		<result property="writer" column="writer" />
	</resultMap>

	<!-- <select id="boardList" resultMap="board"> select * from box_board </select> -->

	<!-- 페이징처리로 코드 변경 -->
	<select id="boardList" resultMap="board">
		select B.* from(select rownum
		rn, A.* from
		(select * from box_board order by list_num desc)A)B where
		rn between #{s} and #{e}
	</select>
	<!-- 글쓰기 등록 -->
	<insert id="writeSave">
		insert into box_board(list_num,writer,title,content)
		values(box_board_seq.nextval,#{writer},#{title},#{content})
	</insert>

	<!-- 글 상세보기 -->
	<select id="reviewDetail" resultMap="board">
		select * from box_board where list_num = #{reviewNum} <!-- 한명에 대한 정보 -->
	</select>

	<!-- 조회수 증가 -->
	<update id="hitNum">
		update box_board set hit=hit+1 where
		list_num =
		#{reviewNum}
	</update>
	<!-- 삭제하기 -->
	<delete id="delete">
		delete from box_board where list_num = #{reviewNum}
	</delete>

	<!-- 페이징 -->
	<select id="selectPageCount" resultType="Integer">
		select count(*) from
		box_board
	</select>

	<!-- 수정하기 -->
	<update id="modify">
		update box_board set title=#{title},
		content=#{content}
		where list_num=#{reviewNum}
	</update>

	<resultMap type="com.care.root.board.dto.noticeDTO"
		id="notice">
		<id property="noticeNum" column="notice_num" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="saveDate" column="save_date" />
		<result property="writer" column="writer" />
	</resultMap>

	<select id="noticeList" resultMap="notice">
		select * from box_notice
	</select>
</mapper>